<div class="content bg-gray-3">
    <div class="container-fluid px-2 px-md-5 pb-2 pt-4 py-md-4">

        <uni-image-card title="Asignación de servicio"
            externImage="https://img.freepik.com/vector-gratis/red-social-servicio-citas-online-chat-comunicacion-internet-personaje-dibujos-animados-nina-mirando-perfiles-foto-ilustracion-concepto-redes-sociales_335657-2041.jpg?semt=ais_hybrid&w=740"
            size="8%">
        </uni-image-card>

        <mat-card>
            <form [formGroup]="formAssign" class="form-grid" style="margin: 22px 22px 0px 22px;">
                <mat-card-content>

                    <div class="grid-container">

                        <mat-form-field appearance="outline">
                            <mat-label>Categoria de Servicio</mat-label>
                            <mat-select formControlName="categoryService">
                                <mat-option *ngFor="let category of categoriesService"
                                    [value]="category">{{category.master_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de Servicio</mat-label>
                            <input formControlName="service" matInput type="text" />
                        </mat-form-field>

                    </div>
                    <div style="padding-right: 15px; padding-bottom: 15px;" class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn-primary" (click)="clearFormAndData()">Limpiar</button>
                        <button type="button" class="btn btn-primary" (click)="searchBtn()">Buscar</button>
                    </div>

                    <uni-dynamic-table [columns]="columnsTableService" [data]="dataServiceTable" [actionsOptions]="true"
                        [viewOptionsTable]="false" [viewCheckboxHeader]="false" element_id="id" [pageKey]="pageKey"
                        (selectedIdsChange)="handleSelectedIds($event)" (selectedChange)="selectedHandle($event)"
                        [refreshFunction]="reload.bind(this)" (pageChange)="onPageChange($event)"
                        [lengthTable]="count"></uni-dynamic-table>



                    <div class="grid-container">

                        <mat-form-field appearance="outline">
                            <mat-label>Entidad</mat-label>
                            <mat-select formControlName="entity" (selectionChange)="selectEntity($event)" multiple>
                                <!-- <mat-option [value]="">NINGUNO</mat-option> -->
                                <mat-option [disabled]="disableAll" value="TODOS">TODOS</mat-option>
                                <mat-option *ngFor="let entity of persons" [value]="entity"
                                    [disabled]="disableEntities">
                                    {{ entity.servicePerson.nameAlias }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Tipo Comisión</mat-label>
                            <mat-select formControlName="comission">
                                <mat-option *ngFor="let type of typeComission" [value]="type.master_name">{{
                                    type.master_name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" *ngIf="isComisionFixed()">
                            <mat-label>Comisión Fija</mat-label>
                            <input formControlName="fixed" (blur)="validComissionFixed()" matInput type="number" min="0"
                                step="0.01" />
                        </mat-form-field>


                        <mat-form-field appearance="outline" *ngIf="isComisionPorcent()">
                            <mat-label>Comisión Porcentual</mat-label>
                            <input formControlName="porcent" matInput type="number" min="0" step="0.01" />
                        </mat-form-field>


                        <mat-form-field appearance="outline" *ngIf="isComisionMultiple()">
                            <mat-label>Comisión Múltiple</mat-label>
                            <input formControlName="multiple" matInput type="number" min="0" step="0.01" />
                        </mat-form-field>
                    </div>



                </mat-card-content>
            </form>
            <div style="padding-right: 15px; padding-bottom: 15px;" class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary" [disabled]="disabledBtnRegister()"
                    (click)="registerServiceAssign()">Registrar</button>
            </div>
        </mat-card>

        <div style="padding-right: 15px; padding-bottom: 15px;" class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-primary" (click)="onCancel()">Cancelar</button>
        </div>

    </div>
</div>