.icon-button{
    margin-left: 10px;
    margin-top: 8px;
}


/* Estilos para el formulario de búsqueda */
.search-card {
    border-radius: 0.75rem;
    border: none;
    margin-bottom: 1.5rem;
  }
  
  .search-container {
    background-color: #ffffff;
    border-radius: 0.75rem;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .btn-primary {
    height: 48px;
    border-radius: 6px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  @media (max-width: 768px) {
    .btn-primary {
      width: 100%;
      justify-content: center;
    }
  }


// .custom-border-radius-1-25 {
//     border-radius: 1.25rem;
//   }
  
//   .template-container {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1rem;
//     align-items: center;
//   }
  
//   .mat-form-field {
//     width: 100%;
//   }
  
//   @media (min-width: 768px) {
//     .mat-form-field.col-md-4 {
//       width: 40%;
//     }
  
//     .mat-form-field.col-md-3 {
//       width: 30%;
//     }
//   }
  
//   button.btn.btn-primary {
//     display: flex;
//     align-items: center;
//     gap: 0.5rem;
//     margin-top: 1rem;
//   }
  