<div mat-dialog-content>
    <p>¿Actualizar estado por tipo de entidad?</p>
    <mat-form-field class="col-md-6" appearance="outline" style="width: 100%;">
      <mat-label>Seleccionar entidad</mat-label>
      <mat-select (selectionChange)="stateType($event)" >
        <mat-option *ngFor="let state of stateMaster" [value]="state">
          {{state.master_relativeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="outline" style="width: 100%;">
      <mat-label>Seleccionar Estado</mat-label>
      <mat-select (selectionChange)="stateTypeEntity($event)" >
        <mat-option *ngFor="let state of statusOption" [value]="state">
          {{state.master_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div class="d-flex justify-content-end" >
<!-- <button mat-button (click)="onNoClick()" class="btn btn-primary" >Cancelar</button> -->
<button mat-button [mat-dialog-close]="" class="btn btn-primary" cdkFocusInitial (click)="updatestate()">Actualizar</button>
</div>
