<div class="bg-dialog mb-3 p-3">
    <h3 class="m-0" style="color: #fff !important;">PLANTILLA PARA CREACIÓN MASIVA DE SERVICIOS</h3>
</div>
<div class="p-3">

    <p>
        Para realizar una carga masiva de creaciones, descargue y complete la plantilla Excel
        respetando el formato de las columnas indicadas a continuación.
    </p>

    <h4>
        <mat-icon>table_chart</mat-icon>
        Columnas requeridas
    </h4>


    <div>
        <uni-dynamic-table 
            [columns]="columns2" 
            [data]="dataTemplateColumns"
            [lengthTable]="dataTemplateColumns.length"
            [pageSizeOptions]="[10, 20, dataTemplateColumns.length]"
            [currentPageIndex]="0"
            [paginationinFrontend]="true"
            [showExport]="true"
            [pageSize]="dataTemplateColumns.length">
        </uni-dynamic-table>
    </div>
    
    
    <h4 style="padding: 10px 0 0 0;">
        <mat-icon>category</mat-icon>
        Lista de categorías de AgenteCash
    </h4>
    <div>
        <uni-dynamic-table [columns]="columns" [data]="dataCategorie" element_id="id" [pageKey]="pageKey"
            [refreshFunction]="reload.bind(this)"  [lengthTable]="count"
            [showExport]="true" 
            (pageChange)="onPageChange($event, 'tabla1')">

        </uni-dynamic-table>
    </div>

    <p>
        <mat-icon>warning</mat-icon>
        Los nombres de las columnas deben coincidir <strong>exactamente</strong> con los indicados
        (mayúsculas, tildes y espacios). De lo contrario el archivo será rechazado.
    </p>

    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-default2" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
            Cerrar
        </button>
        <button mat-button class="btn btn-default3" (click)="download()">
            <mat-icon>download</mat-icon>
            Descargar Plantilla
        </button>
    </mat-dialog-actions>
</div>